{% extends "base.html" %} {% block content %}
<!--Form without header-->
<br/>
<div class="row">
    <div class="col-md-4">
        <!--Header-->
        <div class="text-left">
            <h3>History Order</h3>
        </div>
        <hr class="mt-2 mb-2">
        <form>
            <!--Body-->
            <div class="md-form">
                <input type="email" name="email" id="email" class="form-control validate" required>
                <label for="email" data-error="input_valid_email">Email</label>
            </div>
            <div class="text-left">
                <button type="button" id="search" class="btn warning-color-dark waves-effect waves-light">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Search
                </button>
            </div>
        </form>
    </div>
</div>
<br/><br/>

<div class="row" id="result-history-order">
    <div class="col-md-12">
        <!--Header-->
        <div class="text-left">
            <h3>Result Search History Order</h3>
            <hr class="mt-2 mb-2">
        </div>
        <table class="table table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>Tema</th>
                <th>Tanggal</th>
                <th>Pembicara</th>
                <th>Tempat</th>
                <th>Serial</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Mobile Application</td>
                <td>2017-07-20 09:00:00</td>
                <td>Harianto</td>
                <td>Auditorium Mercu Buana</td>
                <td>MBLPPLCTN-0001</td>
                <td>
                    <i class="" aria-hidden="true"></i>
                    <button type="button" data-toggle="modal" data-target="#modalOrder" class=" btn btn-order warning-color-dark waves-effect">
                        <i class="fa fa-print" aria-hidden="true"></i>
                        Print
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<br/>


<!-- Central Modal Medium Info-->
<!--/Form without header-->
{% endblock %} {% block page-scripts %} {% endblock %}