{% extends "base.html" %}
{% block content %}
<!--Form without header-->
<br/>
<div class="row">
    <div class="col-md-4">
        <!--Header-->
        <div class="text-left">
            <h3>History Order</h3>
        </div>
        <hr class="mt-2 mb-2">
        <form id="formSearchOrder">
            <!--Body-->
            <div class="md-form">
                <input type="email" name="email" id="email" class="form-control" data-validation="required,email">
                <label for="email">Email</label>
            </div>
            <div class="text-left">
                <button type="submit" id="searchOrder" class="btn warning-color-dark waves-effect waves-light">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Search
                </button>
            </div>
        </form>
    </div>
</div>
<br/><br/>

<div class="row">
    <div class="col-md-12">
        <!--Header-->
        <div class="text-left">
            <h3>Result Search History Order</h3>
            <hr class="mt-2 mb-2">
            <div id="progress" style="display:none;">
                <div class="text-center">
                    <div class="progress info-color">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="resultHistoryOrder"></div>
    </div>
</div>
<br/>


<!-- Central Modal Medium Info-->
<!--/Form without header-->

{% endblock %}