{% extends "base.html" %}

{% block content %}
<!--Form without header-->
<br/>
<div class="row">
<div class="card col-md-6">
    <div class="card-block">
        <!--Header-->
        <div class="text-left">
            <h3>Register Member</h3>
            <hr class="mt-2 mb-2">
        </div>
        <form id="formRegisterMember"> 
            <!--Body-->
            <div class="md-form">
                <input type="email" name="email" id="email" class="form-control" data-validation="required,email">
                <label for="email">Email</label>
            </div>

            <div class="md-form">
                <input type="password" name="password" id="password" data-validation="required,length" data-validation-length="min6" class="form-control">
                <label for="password">Password</label>
            </div>

            <div class="md-form">
                <input type="text" name="firstname" id="firstname" data-validation="required,custom" data-validation-regexp="^([a-zA-Z]+)$" class="form-control">
                <label for="firstname">Firstname</label>
            </div>

            <div class="md-form">
                <input type="text" name="lastname" id="lastname" data-validation="required,custom" data-validation-regexp="^([a-zA-Z]+)$" class="form-control">
                <label for="lastname">Lastname</label>
            </div>

            <div class="md-form">
                <input type="number" name="phone" id="phone" data-validation="required,number,length" data-validation-length="min12" class="form-control">
                <label for="phone" data-success="">Phone</label>
            </div>

            <div class="md-form">
                <select class="mdb-select" data-validation="required">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="L">Laki-Laki</option>
                    <option value="P">Perempuan</option>
                </select>
                <label for="gender">Gender</label>
            </div>

            <div class="md-form">
                <input type="text" name="dob" id="dob" data-validation="required" class="form-control datepicker">
                <label for="dob">Date of birth</label>
            </div>
            <div class="file-field">
                <div class="btn btn-primary btn-sm">
                    <span>Choose file</span>
                    <input type="file" name="photo">
                </div>
                <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Photo">
                </div>
            </div>
            <br/><br/>
            <div class="text-center">
                <button type="submit" id="signup" class="btn warning-color-dark waves-effect waves-light">Sign Up</button>
            </div>
        </form>

    </div>
</div>
</div>
<br/>

<!-- Central Modal Medium Info -->
<div id="modalSignup" class="modal fade" id="centralModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header info-color">
                <p class="heading lead">Proses Register</p>

                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>-->
            </div>

            <!--Body-->
            <div class="modal-body">
                <div id="progress-register" style="display:none;">
                    <div class="text-center">
                        <div class="progress info-color">
                            <div class="indeterminate"></div>
                        </div>
                        <p>Mohon tunggu data register anda sedang kami proses.</p>
                    </div>
                </div>
                <div id="result-register">
                    <div class="alert alert-success">
                        Berhasil Register, Mohon cek email untuk aktivasi.
                    </div>
                    
                </div>
                <hr/>
                <div id="modal-button-close" class="text-right">
                    <a type="button" class="btn warning-color-dark waves-effect" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Central Modal Medium Info-->
<!--/Form without header-->
{% endblock %}